body {
	margin-top: 0px;
	background-color: white;
	font: 62.5% "Trebuchet MS", sans-serif;
}

.button-cs{
	min-width: 70px;
}

.headers {
	margin-top: 2em;
}

.paragraph-style {
	font-size: 1.3em;
	line-height: 1.5;
	margin: 1em 0;
	width: 50%;
}

#htmlBody {
	width: 1200px;
	height: 768px;
	background-color: gray;
}

#header {
	min-height: 6.2%;
	width: 100%;
	margin-bottom: 0.2%;
	background-color: orange
}

#mainPanel {
	background-color: red;
	width: 100%;
	height: 90.9%;
	margin-bottom: 0.1%;
}

#footer {
	height: 2.5%;
	width: 100%;
	background-color: yellow;
}