body {
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 13px;
	background-color: #D6D6D6;
}

.button-cs {
	min-width: 70px;
}

.headers {
	margin-top: 2em;
}

#htmlBody {
	width: 1200px;
	height: 767px;
	margin: auto;
}

#header {
	min-height: 6.2%;
	width: 100%;
	margin-bottom: 0.2%;
	background-color: transparent;
	text-align: center;
}

#mainPanel {
	position: relative;
	z-index: 1;
	background-color: #919090;
	min-width: 100%;
	min-height: 663px;
	margin-bottom: 12px;
	margin-top: 12px;
}

.mainPage {
	border: 1px solid black;
	-moz-box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	-moz-border-radius: 5px;;
}

#footer {
	height: 2.5%;
	width: 100%;
	background-color: transparent;
}

#login {
	position: relative;
	top: 190px;
	width: 508px;
	height: 272px;
	background-image: url(img/loginbox_bg.png);
	background-color: transparent;
	margin: auto;
}

.form-content {
	margin: 10px;
}

#login-error {
	position: absolute;
	left: 86px;
	top: 25px;
	height: 15px;
	color: red;
}

#login-table {
	position: relative;
	top: 30px;
	width: 340px;
	margin: auto;
}

.center-align {
	text-align: center;
}

.form-panel {
	background: #D6D6D6;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 15px;
}

.ui-autocomplete-input,option.text-input,select.text-input,textarea.text-input,input.text-input
	{
	height: 25px;
	width: 300px;
	padding: 5px;
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 13px;
	text-shadow: 0px 1px 0px #fff;
	outline: none;
	background: -webkit-gradient(linear, left top, left bottom, from(#bcbcbe),
		to(#ffffff) );
	background: -moz-linear-gradient(top, #bcbcbe, #ffffff);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #717171;
	padding-top: 3px;
}

select.text-input:focus,textarea.text-input:focus,input.text-input:focus,input.ui-combo-input:focus
	{
	-webkit-box-shadow: 0px 0px 5px #007eff;
	-moz-box-shadow: 0px 0px 5px #007eff;
	box-shadow: 0px 0px 5px #007eff;
}

.margin-5 {
	margin: 2px;
}

.ui-combo-input {
	color: black;
	height: 25px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	-moz-top-right-radius: 0px;
	-moz-bottom-right-radius: 0px;
	padding-top: 3px;
	border-right: none;
	margin-left: 2px;
}

.ui-combo-but-re {
	margin-top: 10px;
	height: 35px;
	border-left: none;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	-moz-top-left-radius: 0px;
	-moz-bottom-left-radius: 0px;
}

.step-panel {
	background-color: grey;
	color: #919090;
}

.message-div-hidden {
	display: none;
	padding-top: 15px;
}

.ui-round-bottom-corners {
	border: 1px solid black;
	-webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	-moz-bottom-left-radius: 20px;
	-moz-bottom-right-radius: 20px;
}

.clear-y {
	clear: both;
}

.search-result {
	width: 47%;
	height: 150px;
	padding: 8px;
	float: left;
	margin-left: 10px;
}

.search-result:hover {
	background-color: #EFEFEF;
	-webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

#imgS:hover,#result-detail:hover {
	cursor: pointer;
}

.search-detail {
	width: 55%;
	height: 150px;
	float: left;
	padding: 5px
}

.show-fixed-content {
	word-wrap: break-word;
	overflow: hidden;
	margin: 0px;
}

.padding-s3 {
	padding: 3px;
}

i {
	color: #06297A;
}

.fl-right {
	float: right;
}

.fl-left {
	float: left;
}

.padd-top-10 {
	padding-top: 10px;
}

.page-nav {
	height: 30px;
	width: 250px;
}

.text-a-left {
	text-align: left;
}

.text-a-right {
	text-align: right;
}

.hidden-st {
	display: none;
}

.delete-presentation {
	float: right;
	width: 20px;
	height: 20px;
}