.LV_valid {
    color:#00CC00;
    padding:5px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #8CCE3B;
	background: #F1FBE5 ;
	margin-left:5px;
	font-size:15px;
}
	
.LV_invalid {
    color:#CC0000;
   -moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	padding:5px;
	border: 1px solid #F1AC88;
	background: #F6ECD5;
	margin-left:5px;
}
    
.LV_valid_field,
input.LV_valid_field:hover, 
input.LV_valid_field:active,
textarea.LV_valid_field:hover, 
textarea.LV_valid_field:active {
    -webkit-box-shadow: 0px 0px 5px #00CC00;
	-moz-box-shadow: 0px 0px 5px #00CC00;
	box-shadow: 0px 0px 5px #00CC00;
}
    
.LV_invalid_field, 
input.LV_invalid_field:hover, 
input.LV_invalid_field:active,
textarea.LV_invalid_field:hover, 
textarea.LV_invalid_field:active {
	-webkit-box-shadow: 0px 0px 5px #CC0000;
	-moz-box-shadow: 0px 0px 5px #CC0000;
	box-shadow: 0px 0px 5px #CC0000;
}